COMPOSE_PROJECT_NAME=chefbe-local

APP_ENV=production
APP_URL=http://127.0.0.1:8091
HOST_BIND_IP=127.0.0.1
APP_HTTP_PORT=8091
APP_HTTPS_PORT=8443
APP_UID=10000
APP_GID=1003

DB_ROOT_PASSWORD=change-me-root
DB_NAME=chefbe
DB_USER=chefbe
DB_PASSWORD=change-me-db
DB_PORT=3309
DB_BOOTSTRAP_SQL=/docker-entrypoint-initdb.d/backups/10-08-2025/1754858254/SQL-Backup-1754858254-10-08-2025.sql

REDIS_PORT=6381
NODEJS_PORT=3002

CHEF_LIVE_API_PORT=8082
CHEF_LIVE_RTMP_PORT=1938
CHEF_LIVE_HLS_PORT=8892
CHEF_LIVE_WEBRTC_PORT=8893
CHEF_LIVE_RTP_PORT=10002

LIVE_PROVIDER=chef_live
AGORA_ENABLED=1
CHEF_LIVE_ENABLED=1

S3_ENABLED=0
S3_BUCKET=
S3_REGION=
S3_ACCESS_KEY=
S3_SECRET_KEY=

TLS_CERT_PATH=./nodejs/chef-be.pem
TLS_KEY_PATH=./nodejs/chef-be.key
SITE_ENCRYPT_KEY=
