<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Erreur 1009 - Accès refusé !</title>
</head>
<body>
	<div>
		<h1>Accès refusé !</h1>
		<h4>Que s’est-il passé ?</h4>
		<p>
			Votre adresse IP <b>(<?php echo $_SERVER["REMOTE_ADDR"]; ?>)</b> a été bannie par l’administrateur de ce site,
			et vous n’êtes plus autorisé à y accéder.
		</p>
	</div>
	<style>div{width: 70%;margin: 150px auto;padding: 20px;text-align: center;}h1{width: 100%;font-family: arial;font-size: 50px;color: #666;margin-bottom: 20px;}h4{width: 100%;font-family: arial;font-size: 30px;color: #222;margin: 0px;}</style>
</body>
</html>
